.card{
    padding: 10px;
}
.shop-card img{
    max-height: 250px;
    object-fit: contain;
}
.card-header{
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    margin: 5px 0;
    text-align: center;
    background-color: white;

}
.card .description{
    font-size: 18px;
    font-weight: 600;
   
}

.multiline-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(51, 122, 204) !important;
    text-decoration: underline;
   
  }

.card .card-title{
    margin-bottom: 10px;
}
.singleProduct{
    height: 100%;
}
.SingleImage{
    max-height: 600px;
    margin-bottom: 60px;
}
.singleProductPrice{
    font-weight: 600;
}
.singleProductName{
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
}
